.dashboard {
  display: flex;
  flex-direction: column;
  height: 100%;          /* или 100vh, если Shell не задаёт высоту */
  overflow-y: auto;      /* появляется скролл, когда контент больше окна */
  gap: var(--gap);
  padding: var(--gap);
  width: 100%;
  box-sizing: border-box;
}

.dashboard::-webkit-scrollbar {
  width: 20px;               /* ширина вертикальной полосы */
  height: 10px;              /* высота горизонтальной (если нужна) */
}

.dashboard::-webkit-scrollbar-track {
  background: #555;          /* серый фон дорожки */
  border-radius: 0;          /* можно закруглить, если хотите */
}

.dashboard::-webkit-scrollbar-thumb {
  background: #1c77bd;       /* ярко‑синий бегунок */
  border-radius: 0px;        /* скругление для красоты */
}

.dashboard::-webkit-scrollbar-thumb:hover {
  background: #0056b3;       /* темнее при наведении */
}